// public api:
// @include col(1,0);
// @include row();

// override these before you import this file if you don't want to use the defaults.
$wi-width: 940px !default;
$wi-cols: 12 !default;
$wi-gutter: 20px !default;
$wi-responsive-width: 90% !default;


// the maths for cal width and responsive stuff.
$wi-col-width: $wi-width / $wi-cols;

//$wi-breakpoint: #{$wi-width - 1};
$wi-responsive-margin: (100-$wi-responsive-width)/2;

@mixin repo-row() {
  // must set this manually sass 3.2 will fix this
  @media only screen and (max-width: 939px) {
    width: 100%;
  }
}
@mixin repo-col($col, $offset) {
  // must set this manually sass 3.2 will fix this
  // small screens?
  @media only screen and (max-width: 499px ) {
    width: $wi-responsive-width;
    margin-left: $wi-responsive-margin;
    margin-right: $wi-responsive-margin;
  }

  @media only screen and (max-width: 939px) and (min-width: 500px) {
    $large-width: ($col/$wi-cols) * 100%;
    // this is gross!
    @if $offset > 0 {
      $offset-width: ($offset/$wi-cols) * 100%;
      margin-left: $offset-width;
    } @else {
      $large-width: $large-width - 2;
      margin-left: 1%;
      margin-right: 1%;
    }
    width: $large-width;
  }
}
@mixin prepend($n: 1) {
  margin-left: ($wi-col-width * $n) + ($wi-gutter/2);
}
@mixin append($n: 1) {
  /* doesn't do anything... */
  /* margin-right: $totalColWidth * $n; */
}
@mixin width($n: 1) {
  width: ($n * $wi-col-width) - $wi-gutter;
}
@mixin gutter($col, $offset) {
  margin-right: $wi-gutter;
}
@mixin row() {
  width: $wi-width;
  margin: 0 auto;
  @include repo-row();
}
@mixin col($col: 1, $offset: 0 ) {
  // $col = width in cols
  // $offset = offset in cols
  display: inline-block;
  vertical-align: top;
  .ie7 & {
    zoom: 1;
    display: inline;
  }
  @include width($col);
  @if $offset > 0 {
    @include prepend($offset);
  }
  @else {
    margin-left: $wi-gutter/2;
  }
  margin-right: $wi-gutter/2;
  @include repo-col($col, $offset);
}

